@font-face {
	font-family: "Safira March Personal Use";
	src: url("https://db.onlinewebfonts.com/t/611de94a2f05d6e33f39a8e12cc2fe65.eot");
	src: url("https://db.onlinewebfonts.com/t/611de94a2f05d6e33f39a8e12cc2fe65.eot?#iefix")
			format("embedded-opentype"),
		url("https://db.onlinewebfonts.com/t/611de94a2f05d6e33f39a8e12cc2fe65.woff2")
			format("woff2"),
		url("https://db.onlinewebfonts.com/t/611de94a2f05d6e33f39a8e12cc2fe65.woff")
			format("woff"),
		url("https://db.onlinewebfonts.com/t/611de94a2f05d6e33f39a8e12cc2fe65.ttf")
			format("truetype"),
		url("https://db.onlinewebfonts.com/t/611de94a2f05d6e33f39a8e12cc2fe65.svg#Safira March Personal Use")
			format("svg");
}

body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px;
	background: rgb(250, 250, 250);
}

.bg-primary-main {
	background: rgb(236, 202, 194);
}

.text-regular {
	font-family: "Safira March Personal Use";
}

.mainbg {
	background: rgb(250, 250, 250);
}

.main-img {
	background-image: url(Main.png);
	background-repeat: no-repeat;
	min-height: fit-content;
	
	
	opacity: 0.85;
}

@media screen and (max-width: 992px) {
	.main-img {
		background-size: cover;
	}
}

@media screen and (min-width: 993px) {
	.main-img {
		background-size: contain;
		height:60vh;
	}
}

.bg-footer-top {
	background: #9c9b9b;
}
.bg-footer-bottom {
	background: #767676;
}

.icon-color {
	background: rgb(156, 155, 155);
}

.font-arima {
	font-family: "Arima Madurai";
}
